/* CSS VALIDATED */
/* Mobile View At 325PX;*/
/* Contact StyleSheet */
/* All img#**** Are img tag with id on them for targeting */
/* All P1 P2 P3 P4 P5 P6 P7 P8 P9 Are For Grouping Paragraphs And H1 ( Some) Together For Easy Editing */

.wrapper{
	overflow-x: hidden;
	width:100%;
	margin: auto;
}
/* Header Adjustment */
.header{
	height:175px;
	text-align: center;
	background-color:#3C3B3A;
}

#logo{
	width:88px;
	height:54px;
}

a#home{
	margin-bottom: 22px;
}

a#about{ 
	margin-bottom:22px;

}

a#contact{
	font-weight: bold;
}

.links a{
	
	line-height: 21px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color:white;
	text-decoration: none;
	font-size:18px;
	font-family:'raleway' , sans-serif;
	margin:auto;}

main{
	margin-top:25px;
	font-family: 'Raleway', sans-serif;
	text-align: left;
	font-size: 50px;
	font-weight: 700;
	color:#3C3B3A;
	margin-left: 10px;


}

.p1{
	font-size:20px;
	font-family: 'Raleway', sans-serif;
	text-align: left;
	font-style: normal;
	line-height: 35px;
	color: #3C3B3A;
	margin-top: 20px;
	margin-left: 10px;
}
/* Div Class Of IMG Targeting the image*/
.img img{
	display:block;
	margin:0 auto;
	width:302px;
	height:100%;
	margin-bottom: 15px;
}
/* ID Name Of The Contact Form / Adjustment Of The Contact*/
#contact2{
	background-color:#26A682;
	border-radius: 25px;
	box-shadow: 10px 10px 7px #14403326;
	width:304px;
	height: 546px;
	margin:auto;
	border:none;
}

h1{
	font-family: 'Raleway', sans-serif;
	text-align: left;
	color: white;
	font-weight: 600;
	font-size:40px;
	line-height: 47px;
	margin-left: 10px;

}

label{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 21px;
	text-align: left;
	font-weight: lighter;
	color:white;
}

fieldset{
	border:none;
}

input{
	border:none;
	background-color: #eeee;
	border-radius: 72px;
	width:275px;
	height: 40px;
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	text-align: left;
	line-height: 19px;
	margin-left: -5px;
	color:#3C3B3A99;
}

button{
	border-radius:40px;
	text-align: center;
	background: #3C3B3A;
	width:270px;
	height: 50px;
	box-shadow: 0px 10px 10px #124A3A80;
}
/* Button Adjustment */
#drive{
	color:white;
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	text-align: center;
	font-weight:700;
	box-shadow: 0px 10px 10px #124A3A80;
}
/* Location Contains H1 H2 H3 / Paragraphs / Img */ 
.location h1{
	font-family: 'Raleway', sans-serif;
	text-align: left;
	font-size: 40px;
	line-height: 47px;
	font-weight: 600;
	margin-left:10px;
	color: #3C3B3A;

}
.location h2{
	font-family: 'Raleway', sans-serif;
	text-align: left;
	font-size: 24px;
	line-height: 29px;
	color: #3C3B3A;
font-weight: lighter;
margin-left: 10px;}

.location h3{
	font-family: 'Raleway', sans-serif;
	text-align: left;
	font-size: 16px;
	font-weight: lighter;
	color: #3C3B3A;
	margin-left:30px;
}

.googlemap{
	width:100%;
	height:250px;
	display: block;
	margin:0 auto;
	height: 250px;
	border: 1px solid #707070;
	border:none;

}
/*	Footer Adjustment */
footer{
	height: 125px;
	width:100%;
	color:white;
	background-color: #3C3B3A;
	text-align: center;}


h5#follow{
	margin-top: 12px
}

h5{ 
	font-size: 24px;
	color:white;
	font-weight: lighter;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

img#facebook{
	margin-right: 12px;
}

img#instagram{
	margin-right: 12px;

}

img#twitter{
	margin-right:12px;
}
img#youtube{
	margin-right:12px;
}

.icons{
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.icons img{
	margin-top:  -15px
}






/* Ipad Viewpoint 765PX Contains More Adjustments With Viewpoint Change*/



@media(min-width:765px){

.header{
	display: flex;
	flex-direction: row;
	height:75px;
	justify-content:space-around;}

#logo{
	max-width: 100%;
	margin-top:10px;
	margin-left: 39px;}

.links{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-self: flex-end;
	max-width: 100%;}

.links a{
	margin:auto;}

a#home , a#about , a#contact{
	margin-right:40px;
	margin-left: 40px;
	margin-top:40px;}

main{
	font-size:72px;
	line-height: 85px;
	text-align: left;
	margin-top:44px;
	margin-left:80px;}

.p1{
	font-size:24px;
	line-height: 35px;
	text-align: left;
	margin-top: 20px;
	margin-left: 80px;}


.img img{
	width:452px;}

#contact2{
	width:608px;
	height:801px;}


fieldset{
	margin-left: 15px;
}

h1{
	font-size:72px;
}
label{
	margin-bottom: 20px;
	font-size:24px;
	line-height: 29px;
	text-align: left;

}
input{
	width:516px;
	height:50px;
	text-align: left;
	margin-bottom:15px;
}



button{
	width:210px;
	height: 65px;
}

.location h1{
	font-size:72px;
	text-align: left;
	line-height: 85px;
	margin-left:65px;
}

.location h2{
	font-size:48px;
	line-height: 47px;
	text-align: left;
	margin-left:65px;
	margin-top: -35px;
	font-weight: lighter;

}

.location h3{
	font-size:18px;
	line-height: 35px;
	text-align: left;
	margin-left:65px;

}
/* Location Image */
.googlemap{
	height:100%;
	width:768px;
	display: block;
	margin:0 auto;
	height: 250px;
	border: 1px solid #707070;
	border:none;}


}


/* Desktop Viewpoint */

@media(min-width: 1234px){

	.header{
		width:100%;
		height:75px;}

	#logo{
		margin-right: 920px;}
/* Contains All Top Content */
	.bigdiv{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.main{
		flex-basis:45%;
		padding-right: 20px;
		margin-right:20px;
		margin-top:150px;
		margin-left: 10px;}

	.p1 p{ margin-bottom: 40px;

	}
	.contact2 {
		flex-basis: 45%;
	padding-left: 20px;
	margin-top:150px;}


	.location{
		flex-basis:45%;
		margin-left:10px;
		padding-right: 20px;
		padding-bottom: 20px;
	}

	.location h1{
		margin-top:30px;
	}

	.googlemap {
		flex-basis:45%;
		width:812px;
		height:100%;
		margin-top:90px;}


	footer{
	margin-top:50px;}


}


























