/* CSS VALIDATED */
/* About Page StyleSheet */
/* Mobile View At 325PX;*/
/* All img#**** Are img tag with id on them for targeting */
/* All P1 P2 P3 P4 P5 P6 P7 P8 P9 Are For Grouping Paragraphs And H1 ( Some) Together For Easy Editing */
/*  Image Optimize For Web Browser */


.wrapper{
	overflow-x: hidden;
	width:100%;
	margin: auto;}
/* Theses Are The Pictures When View Point Are At 765px*/

#bar{
	display: none;
}
#climbing{
	display: none;
}

#fitness{
	display: none;
}

#bowling{
	display: none;
}


/* Header Adjustment */
.header{
	height:175px;
	text-align: center;
	background-color:#3C3B3A;}

#logo{
	width:88px;
	height:54px;
	opacity: 0.0;
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
}
/*Animation*/
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

a#home{
	margin-bottom: 22px;}

a#about{
	font-weight: bold;
	margin-bottom:22px;}


.links a{
	line-height: 21px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color:white;
	text-decoration: none;
	font-size:18px;
	font-family:'raleway' , sans-serif;
	margin:auto;}

main{

	text-align: left;
	font-family: 'Raleway', sans-serif;
	color:#3C3B3A;
	font-size:40px;
	font-weight: 700;
	margin-top:25px;
	margin-left: 10px;}

/* End Of Header Adjustment */

/* H1 Affects On 7 of them */

h1{	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	font-style: italic;
	font-weight: 600;
	margin-left:10px;}

/* Sub Text That Is Green Under 3 Of The H1 */
h2{
	color:#26A682;
	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-size:24px;
	font-weight: lighter;
	margin-left: 10px;}

/* Adjustment Of The First Two Paragrahs */
.p1 , .p2 {
	font-size: 20px;
	line-height: 35px;
	color:#3C3B3A;
	font-family: 'Raleway', sans-serif;
	margin-left: 10px;}

/* Adjustment On The Rest Of The Paragraph */

.p3 , .p4 , .p5{
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	line-height: 35px;
	color: #3C3B3A;
	margin-left:10px;}

/* Container Holding About Text Adjustment */
.container{
	position: relative;
	text-align: center;
	background-color: #26A682;
	margin:0.5rem;}

	.container h1 {
		position: absolute;
		text-align:center;
		top:50%;
		left:50%;
		transform: translate(-75%, -125%);
		color:white;
		font-size:56px;
		font-weight:600;}


.container img{
	mix-blend-mode: darken;
	width:375px;
	height: auto;
	display:block;
	margin:0 auto;
	background:no-repeat;}



img#about1{
	width:100%;
	height:200px;
	margin-top: 25px;
	display: block;}

/* End Of Adjustment for container*/

/* Image Adjustment */
img#construction{
	display:block;
	margin:0 auto;
	width:301px;
	height:auto;}
/* Adjustment Of Services Text On Image */
.services{
	background-color:#26A682;
	position: relative;
	text-align: center;
	background-color: #26A682;
	margin:0.5rem;

}
img#services{
	mix-blend-mode: darken;
	background:no-repeat;
	width:375px;
	height:auto;
	display: block;}

.services h1{
	position: absolute;
		text-align:center;
		top:50%;
		left:50%;
		transform: translate(-75%, -125%);
		color:white;
		font-size:56px;
		font-weight:600;

}

/* Subcription Button With Paragraph Adjustment */
.sub{
	background-color:#3C3B3A;
	width:auto;
	height:auto;
	padding-bottom:28px;
	padding-top:28px;}

.p6 p , .p7 p , .p8 p , .p9{
	font-family: 'Raleway', sans-serif;
	color: #3C3B3A;
	font-size:15px;
	line-height: 35px;
	margin-left:10px;}

.sub p{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color:white;
	font-size:18px;
	margin-bottom: 25px;}


.button{
	text-align: center;}

button{
	width: 140px;
	height: 35px;
	border-radius: 40px;
	background-color: #26A682;
	font-family: 'Raleway', sans-serif;
	border-color: white;
	background-color:#26A682;
	color:white;
	font-size:20px;
border:none;}

/* Thank You Text */
h3{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 56px;
	font-weight: 700;
	color: #3C3B3A;}

/* Footer Adjustment */
footer{
	height: 125px;
	width:100%;
	color:white;
	background-color: #3C3B3A;
	text-align: center;}

.brands{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 25px;}

#association{
	width:301px;
	height: 87px;}

#ac{
	width:202px;
	height: 168px;}

#pcl{
	width:220px;
	height:154px;}

#cibc{
	width:154px;
	height: 138px;}


h5#follow{
	margin-top: 12px}

h5{ 
	font-size: 24px;
	color:white;
	font-weight: lighter;
	font-family: 'Raleway', sans-serif;
	text-align: center;}

img#facebook{
	margin-right: 12px;}

img#instagram{
	margin-right: 12px;}

img#twitter{
	margin-right:12px;}

img#youtube{
	margin-right:12px;}



.icons{
	display: flex;
	flex-direction: row;
	justify-content: center;}

.icons img{
	margin-top:  -15px}

/* End Of Mobile View */








/* Tablet Viewpoint 765 Px Adjustment */

@media(min-width: 765px){

/* More Header Adjustment */
.header{
	display: flex;
	flex-direction: row;
	height:75px;
	justify-content:space-around;}


/*Animation 2 */
#logo{
	max-width: 100%;
	margin-top:10px;
	margin-left: 39px;
	opacity: 0;
	-webkit-animation: fadeout 4s;
	 animation: fadeout 4s;}
	 
@keyframes fadeout {
		from { opacity: 1; }
		to   { opacity: 0; }

							}


.links{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-self: flex-end;
	max-width: 100%;}

.links a {
	margin:auto;}

a#home , a#about , a#contact{
	margin-right:40px;
	margin-left: 40px;
	margin-top:40px;}



main{
	font-size:50px;
	margin-top:35px;
	margin-left:60px;
	text-align: left;}
/* The Two Starting Paragraph Together */
.pt{
	font-family: 'Raleway', sans-serif;
	font-size:24px;
	line-height: 35px;
	margin-left:60px;
	text-align: left;}


h1{
	font-size:40px;
	line-height: 47px;
	text-align: left;
	color:#3C3B3A;
	margin-left: 50px;}

h2{
	font-size:32px;
	text-align: left;
	line-height: 35px;
	margin-left:10px;}


.p3 , .p4 , .p5{
	font-size:18px;
	text-align: left;
	line-height: 35px;
	margin-left: 50px;}

.p6 , .p7 , .p8 , .p9{
	font-size:18px;
	line-height: 35px;
	text-align: left;
	margin-left: 10px;} 

img#construction{
	width:574px;
	height:auto;}

.container{
	position:relative;
	text-align:center;
	margin:0.5rem;}

	.container h1{
		position: absolute;
		text-align:center;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		color:white;
		font-size:56px;
	}

img#about1{
	width:100%;
	height:200px;}

img#services{
	width:100%;
	height:200px;}

.services{
	position:relative;
	text-align:center;
	margin:0.5rem;}

.services h1{
	font-size:56px;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	color:white;}
/* All Imagebreak (1,2,3,4) Are For Seperating Text And Image 50% Using Flex Basics */
.imagebreak{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 50px;
	margin-top: 40px;
}


img#bar{
	display: block;
	width:218px;
	height: 375px;
	margin-top:30px;}

.p6{
	margin-left: 40px;
	flex-basis: 50%;}

.p6 h1{
	margin-left: -10px;
}
.p6 h2{
	margin-left:-10px;
}

.p6 p{
	margin-left: -10px;
}

.imagebreak2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-right: 30px;
}

img#bowling{
	display: block;
	width:218px;
	height:375px;
	order:1;
	margin-top:20px;
	margin-left: 70px;}

.p7{
	flex-basis: 50%;}

.p7 h1{
	margin-left: 30px;}

.p7 h2{
	margin-left: 30px;}


.p7 p{margin-left:30px;}

.sub{
	width:100%;
	height:75px;
	padding-top: 0;
	padding-bottom:0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
	margin-top:20px;}

.sub p{
	font-size: 24px;}

button{
	margin-right: 40px;}


.imagebreak3{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left:30px;
	margin-top:40px;}

img#fitness{
	display: block;
	width:218px;
	height: 375px;
	margin-top:30px;}


.p8{
	flex-basis: 45%;
	margin-left: 40px;}

.p8 h1{
	margin-left: -10px;
}
.p8 h2{
	margin-left:-10px;
}

.p8 p{
	margin-left: -10px;
}

.imagebreak4{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-right: 30px;}

img#climbing{
	display: block;
	width:218px;
	height:375px;
	order:1;
	margin-top:20px;
	margin-left: 70px;}


.p9{flex-basis: 50%;}


.p9 h1{
	margin-left: 50px;}

.p9 h2{
	margin-top: -20px;
	margin-left: 50px;}

.p9 p{
	margin-top:-15px;
	margin-left:50px;}

h3{
	font-size:60px;
	line-height: 66px;
	text-align: center;}

}

/* Desktop ViewPoint Starts At 1322px*/
@media(min-width: 1273px) {

.header{
		display: flex;
		flex-direction: row;
		height:65px;
		justify-content:space-around;}
		
	

#logo{
	max-width: 100%;
	margin-bottom:40px;
	margin-right: 900px;}

	
	/* All Of The Top Content All Together For Easy Adjustment And For Seperation Of The Content*/
.desk1{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;}


main{
	margin-top: 100px;
}

.pt{
	flex-basis:40%;
	align-self: flex-start;
	text-align: left;
}

img#construction{
	flex-basis: 50%;
	max-width:100%;}

.w3{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-top:100px;
	margin-bottom: 100px;}


.imagebreak{
	margin-bottom: 163px;
}

.imagebreak2{margin-bottom:70px;}

.imagebreak3{margin-bottom: 163px;}

.imagebreak4{margin-bottom: 70px;}


img#about1{
	height: 250px;
	width:100%;
	margin-top: 50px;
	margin-bottom: 200px;


}

img#services{
	margin-top:200px;
	margin-bottom: 200px;
	height:250px;
	width:100%;}


img#bar{
	width:813px;
	height: 337px;
}

img#bowling{
	width:813px;
	height: 337px;
}

.sub{
	display: flex;
	justify-content: center;
}

.sub p{
	font-size: 40px;
	text-align: center;
	margin-bottom:45px;
}

button{
	margin-left: 100px;
font-size:27px;
height:45px;
width:230px;}

img#fitness{
	width:813px;
	height:337px;}

img#climbing{
	width:813px;
	height:337px;
}

.brands{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 70px;}
}